$navbar-padding-y: 0.75em; 
$navbar-padding-x: 1em;

@import "node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "webfonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}

.navbar-toggler {
    border: 0 !important;
}